<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content *ngIf="!showEditComment">
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment()">
      <mat-icon matBadge="{{commentLikes()}}" matBadgeColor="accent" matBadgeSize="small"
                [matBadgeHidden]="commentLikes() === 0" aria-label="Like">thumb_up_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikeComment()">
      <mat-icon matBadge="{{commentDislikes()}}" matBadgeColor="accent" matBadgeSize="small"
                [matBadgeHidden]="commentDislikes() === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <div *ngIf="showUserCommands">
      <button mat-icon-button color="primary" (click)="toggleShowEditComment()">
        <mat-icon aria-label="Edit comment">edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteComment()">
        <mat-icon aria-label="Delete post">delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  <div *ngIf="showEditComment">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="this.comment.body" matInput placeholder="Edit comment..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Update" (click)="updateComment()">
        <mat-icon aria-label="Update">send</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
