<mat-card class="post-create-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <mat-card-content>
        <mat-form-field>
            <textarea [(ngModel)]="post.body" matInput placeholder="Edit post:"></textarea>
        </mat-form-field>
        <div class="image-container">
            <mat-icon aria-label="Send" matTooltip="Clear image" (click)="removeImage()">close</mat-icon>
            <img mat-card-image class="post-image" *ngIf="imageUrl" mat-card-image src="{{imageUrl}}" alt="Photo">
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
        <button mat-icon-button color="accent" matTooltip="Choose an image" (click)="file.click()">
            <mat-icon aria-label="Choose an image">image</mat-icon>
        </button>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-icon-button color="primary" matTooltip="Post it" (click)="sendPost()"
                [mat-dialog-close]="post" cdkFocusInitial>
            <mat-icon aria-label="Send">send</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
